<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" /> -->

    <title>D.O.T.</title>
    <style>
    .table
      {
        overflow-x: auto;
      }

    #smalltable
    {
      display:none;
    }
    @media screen and (max-width: 600px)
    {
    #desktoptable
    {
      display: none;
    }
    #smalltable
    {
      display:block;
    }
    }
  </style>
  </head>
  <body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{{url_for('index')}}">D.O.T.</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

<!--   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        {% if session.logged_in %}
        <a class="nav-link" href="{{ url_for('logout_user') }}">Logout <span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{{ url_for('login_page') }}">Login <span class="sr-only">(current)</span></a>
        {% endif %}
      </li>
    </ul>
  </div> --> 
  <nav class="nav nav-pills nav-justified">
  {% if session.logged_in %}

        <div class="float-sm-right"><a class="nav-link" href="{{ url_for('logout_user') }}">Logout <span class="sr-only">(current)</span></a></div>
        {% if role==1 %}
          <a class="nav-item nav-link bg-secondary active float-sm-right" href="#">Manufacturer</a>
          {% endif %}
          {% if role==2%}
          <a class="nav-item nav-link bg-secondary active" href="#">Distributor</a>
          {% endif %}
          {% if role==3%}
          <a class="nav-item nav-link bg-secondary active" href="#">Retailer</a>
          {% endif %}
          {% if role==4%}
          <a class="nav-item nav-link bg-secondary active" href="#">Customer</a>
          {% endif %}
        {% else %}
        <a class="nav-item nav-link " href="{{ url_for('login_page') }}">Login <span class="sr-only">(current)</span></a>
        {% endif %}
</nav>
</nav>
</div>
<div class="top" >
        </div>
        </div>

<div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
</div>
        <div class="container">
        {% block content %}{% endblock %}
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>