{% extends "base.html" %}
{% block content %}
	<p class="lead text-center">Hey {{data['name']}}</p>
	<p class="lead text-center">Email: {{data['emailid']}}</p>
	<p class="lead text-center">Mobile No.: {{data['mobile']}}</p>
	<p class="lead text-center">Your Public Address: {{data['address']}}</p>
<div class="d-flex justify-content-around">
	<a href="{{ url_for('distributor_buy') }}"><button class="btn btn-primary">  Buy  </button></a>
	<a href="{{ url_for('distributor_receive') }}"><button class="btn btn-primary">Receive</button></a>
	<a href="{{ url_for('distributor_sell') }}"><button class="btn btn-primary"> Sell </button></a>
	<a href="{{ url_for('distributor_ship') }}"><button class="btn btn-primary"> Ship </button></a>
	<a href="{{ url_for('download_qrcode') }}"><button class="btn btn-primary">Get QRCode</button></a>	
</div>
	{% if value %}
	<br>
	<br>

		<form method="post">
				<div class="form-group row">
			    <label class="col-sm-2 col-form-label">Product ID</label>
			    <div class="col-sm-10">
			    <input type="number" name="upc" class="form-control" id="upc" placeholder="ProductID">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">Location</label>
			    <div class="col-sm-10">
			    <input type="text" name="location" class="form-control" id="location" placeholder="Location">
			    </div>
		  		</div>
			{% if value==1 %}
				<div class="form-group row">
				    <label class="col-sm-2 col-form-label">Quantity</label>
				    <div class="col-sm-10">
				    <input type="number" name="productQuantity" class="form-control" id="productQuantity" placeholder="ProductQuantity">
				    </div>
				</div>
					  <div class="form-group row">
					    <label class="col-sm-2 col-form-label">Total Product Price</label>
					    <div class="col-sm-10">
					    <input type="number" name="price" class="form-control" id="price" placeholder="ProductPrice">
					    </div>
					  </div>
					  <div class="d-flex justify-content-around">
					<button type="submit" name="buy" value="Buy Product" class="btn btn-primary">Buy Product</button>
				</div>
			{% endif %}
			{% if value==2 %}
			<div class="d-flex justify-content-around">
					<button type="submit" name="receive" value="Receive Product" class="btn btn-primary">Receive Product</button>
				</div>
			{% endif %}
			{% if value==3 %}
			<div class="form-group row">
				    <label class="col-sm-2 col-form-label">Quantity</label>
				    <div class="col-sm-10">
				    <input type="number" name="productQuantity" class="form-control" id="productQuantity" placeholder="ProductQuantity">
				    </div>
				</div>
			<div class="d-flex justify-content-around">
					<button type="submit" name="sell" value="Sell Product" class="btn btn-primary">Sell Product</button>
				</div>
			{% endif %}
			{% if value==4 %}
			<div class="d-flex justify-content-around">
					<button type="submit" name="ship" value="Ship Product" class="btn btn-primary">Ship Product</button>
				</div>
			{% endif %}
		</form>
	<br>
	{% if value==1 %}
	{% if productitems %}
	<h4>Available products to buy:</h4>
	</br>
	<table id="desktoptable" class="table table-hover table-bordered text-center table-sm">
		<thead>
		  <tr>
			<th scope="col">ProductID</th>
			<th scope="col">ItemName</th>
			<th scope="col">ManufacturerID</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
		  </tr>
		</thead>
		<tbody>
		{% for row in productitems %}  
		  <tr>
			<td>{{row[7]}}</td>
			<td>{{row[2]}}</td>
			<td>{{row[1]}}</td>
			<td>{{row[3]}}</td>
			<td>{{row[8]}}</td>
		</tr>  
			{% endfor %}  
		</tbody>
	  </table>
	  <table id="smalltable" class="table table-striped table-bordered text-center table-sm">
		<thead>
		  <tr>
			<th scope="col">#</th>
		  </tr>
		</thead>
		<tbody>
		{% for row in productitems %}  
		  <tr>
		  	<td>
		  	<p class="text-center">
		  	<br>ProductID
			<br>{{row[7]}}
			<br>ItemName
			<br>{{row[2]}}
			<br>Price
			<br>{{row[3]}}
			<br>ManufacturerID
			<br>{{row[1]}}
			<br>Quantity
			<br>{{row[8]}}
		</p>
	</td>
		  </tr> 
			{% endfor %}  
		</tbody>
	  </table>
	{% else %}
	<h2>No items available to buy</h2>
	{% endif %}

	<br><br>  
	{% endif %}
	{% endif %}
{% endblock %}