{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-sm">
<form method="post">
<div class="form-group row">
  <label class="col-sm-10 col-form-label">Download QRCode</label>
  <div class="col-sm-10">
  <input type="number" name="upc" class="form-control" id="upc" placeholder="ProductID">
  </div>
</div>
<div class="d-flex justify-content-around">
    <button type="submit" name="download" value="download" class="btn btn-primary">GET QRCode</button>
</div>
</form>
<br>
<br>
{% if file %}
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="d-flex justify-content-around">
        <a href="{{ url_for('download', filename=file) }}"><button class="btn btn-primary">Download</button></a>
        </div>
    </div>
    <br>
    <br>
    <div class="col-sm-10">
      <div class="d-flex justify-content-around">
        <a href="{{ url_for('open', filename=file) }}"><button class="btn btn-primary">Open</button></a>
        </div>
    </div>
  </div>
</div>
{% endif %}
</div>
<br>
<br>
<div class="col-sm">
  <img src="{{url_for('static',filename='/images/med_download.svg')}}" class="img-fluid" alt="Download">
</div>
</div>
</div>
{% endblock %}