<!DOCTYPE html>
<html>
<head>
	<title>LYProject</title>
</head>
<body>
	<h1>Signup</h1>
	<form method="post">
		<label>Email: </label>
		<input type="email" name="emailid" id="emailid">
		<label>Password: </label>
		<input type="password" name="password" id="password">
		<label>User Type: </label>
		<select name="usertype">
			<option selected disabled>Choose a User Type</option>
		    <option value="Manufacturer">Manufacturer</option>
		    <option value="Retailer">Retailer</option>
		    <option value="Distributor">Distributor</option>
		    <option value="Consumer">Consumer</option>
		</select>
		<label>Name: </label>
		<input type="text" name="name" id="name">
		<label>Mobile Number: </label>
		<input type="text" name="mobile" id="mobile">
		<input type="submit" name="signup" value="Signup">
	</form>
</body>
</html>